body {
  background: #DBEDFF;
  background: -moz-linear-gradient(top, #DBEDFF 0%, #4E7CDE 100%);
  background: -webkit-linear-gradient(top, #DBEDFF 0%, #4E7CDE 100%);
  background: linear-gradient(to bottom, #DBEDFF 0%, #4E7CDE 100%);
}
h1 {
  font-family: Helvetica, serif;
  color: #FFFFFF;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  text size: 33px;
}

h2 {
  color: green;
}

p {
  font-family: times, serif;
  color: black;
  text size: 15px;
}
