html {
 cursor: url('171049.png'), pointer, auto;
 cursor: url('171044.png'), default;	
 cursor: url('171047.png'), progress, wait;	
}

button {
 cursor: url('171049.png'), pointer;
}
body {
  background: #C2FFA8;
  background: -moz-radial-gradient(center, #C2FFA8 0%, #EB88BA 100%);
  background: -webkit-radial-gradient(center, #C2FFA8 0%, #EB88BA 100%);
  background: radial-gradient(ellipse at center, #C2FFA8 0%, #EB88BA 100%);%);
}

h1 {
  font-family: Helvetica, serif;
  color: black;
  text-size: 120px;
  margin: 10px;
}

div.outset {
  border-style:outset;
}
div.inset {
  border-style:inset:
}

p.outset {
  border-style: outset;
}

p.inset {
  border-style: inset;
}

h2 {
  font-family: Helvetica, serif;
  color: rgba(235, 136, 186, 0.4);
  text-shadow: 10px 18px 2px rgba(0,0,0,0.6);
  text-size: 33px;
}

p {
  font-family: times, serif;
  color: black;
  text-size: 15px;
}

#footer {
    width: 100%;
    color: white;
}

#footer-text{
    margin: auto;
    color: white;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
