html {
 cursor: auto;
}

body {
  background: #C9DBDB;
  background: -moz-linear-gradient(45deg, #C9DBDB 0%, #FFFFFF 100%);
  background: -webkit-linear-gradient(45deg, #C9DBDB 0%, #FFFFFF 100%);
  background: linear-gradient(45deg, #C9DBDB 0%, #FFFFFF 100%);
  font-family: helvetica, serif;
}

h1 {
  color: black;
  text-size: 50px;
  margin: 10px;
}

h2 {
  color: orange;
  text-size: 23px;
}

p {
  font-family: times, serif;
  color: black;
  text-size: 15px;
}

button {
 padding: 5px;
 margin: 2px;
}

